.nav-link{
    color: #7f5539;
}

.page-head{
    padding: 5%;
    color: #432818;
    text-align: center;
}

.page-label{
    text-align: center;
}

.login-label{
    text-align: center;
}

.log-btn{
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: #99582a;
    color: #ffe6a7;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    height: 40px;
}

.form-style{
    font-weight: bold;
    text-align: center;
}

.menu-container{
    padding-left: 5%;
    padding-right: 5%;
    color: #432818;
    text-align: center;
}

.menu-table{
    background-color: #a68a64; /* Light cream background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px transparent;
}

.fin-card{
    width: 18rem; 
    text-align: center;
}

.card-container{
    text-align: center;
}

