{% extends 'base.html' %}
{% load static %}

{% block title %}Inventory{% endblock %}
{% block content %}
<div class="menu-container">
    <h2 class="page-head">Inventory Page</h2>
    <h4 class="page-label">This page shows what is available in the kitchen.</h4>

    {% if user.is_superuser %}
    <a class="nav-link" href="{% url 'add_ingredient' %}">Add Ingredients</a>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Inventory</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>
                    {% if user.is_superuser %}
                    Update Ingredient
                    {% endif %}
                </td>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.units }}</td>
                    <td>${{ item.price }}</td>
                    <td>
                        {% if user.is_superuser %}
                        <a href="{% url 'update_ingredient' item.id %}" class="btn btn-primary"> Manage </a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No ingredients available.</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}